<h1 class="text-5xl font-bold underline bg-red-500 text-white p-6">
  TooDoo
</h1>
<div class="flex justify-center mt-10">
  <%= form_with model: @todo do |f| %>
    <div>
      <%= f.text_area :title,
        rows: 2,
        class: "w-1/2 border border-gray-300 rounded px-3 py-2 mb-4"
      %>
    </div>
    <div>
    <%= f.text_area :body,
      rows: 5,
      class: "w-2/3 border border-gray-300 rounded px-3 py-2 mb-4"
    %>
    </div>
    <div>
      <%= f.submit "登録" %>
    </div>
  <% end %>
</div>